<!DOCTYPE html>
<html ng-app="app">
<head>
	<title>Nested</title>
	<script src="bower_components\angular\angular.js"></script>
	<script src="controller.js"></script>
</head>
<body>
	<div ng-controller="myCtrl">
		<section ng-repeat="post in posts">
			Title: {{post.title}}<br> 
			<!-- <button ng-click="delete(post.id)">usun</button><button ng-click="edytuj(post)">edytuj</button> -->
			{{post.id}}
			Author: {{post.author}}
			<div ng-if="post.author == 'autor' " >JEST AUTOR AUTOR</div>
			<div ng-if="post.author !== 'autor' ">DUPA BLADA</div>
			<!-- ZMIENNA: <div>{{post.author=='autor' ? variable=variable : variable='dupa'}}</div> -->
			<!-- <div test-author="post.author"></div> -->
			<BR><BR>
		</section>
			{{variable}}
		<!-- <section>
			<input type="text" ng-model="variable">
		</section> -->
		<br><br><br>
		<section>
			<input type="hidden" ng-model="all">
			<input type="text" ng-model="newTitle">
			<input type="text" ng-model="newAuthor">
			<button ng-click="add()">Add</button><button ng-click="edit(all)">edytuj</button>
		</section>
	</div>
</body>
</html>